{{#if isEditing}}
<form {{action "submit" on="submit"}}>
<p>title: {{input value=title id='title'}}</p>
<p>topic:{{input value=topic}}</p>
<p>url:{{input value=url}}</p>
<p>description:{{input value=description}}</p>
{{input type="submit" value="Save Changes" id="submit" class="btn"}}
</form>
{{else}}

  <h4 {{action 'edit'}}>{{title}}</h4>
  <p>{{topic}}</p>
  <p>{{url}}</p>
  <p id="description">description: {{description}}</p>

{{/if}}

