{{#if isEditing}}

<p>title: {{input value=title id='title'}}</p>
<p>topic:{{input value=topic}}</p>
<p>url:{{input value=url}}</p>
<p>description:{{input value=description}}</p>
<button {{action 'update'}} id="submit">Submit</button>

{{else}}

  <h4 {{action 'edit'}}>{{title}}</h4>
  <p>{{topic}}</p>
  <p>{{url}}</p>
  <p id="description">description: {{description}}</p>

{{/if}}


