{{#if isEditing}}

<p>title: {{input value=resource.title id='title'}}</p>
<p>topic:{{input value=resource.topic}}</p>
<p>url:{{input value=resource.url}}</p>
<p>description:{{input value=resource.description}}</p>
<button {{action 'update'}} id="submit">Submit</button>

{{else}}

  <h4 {{action 'edit'}}>{{resource.title}}</h4>
  <p>{{resource.topic}}</p>
  <p>{{resource.url}}</p>
  <p id="description">description: {{resource.description}}</p>

{{/if}}


