<form class="form-horizontal">
  <label for="title">Title</label>
   {{input value=model.title}}
  
  <label for="url" class="col-lg-2 control-label">URL</label>  
 
  {{input value=model.url}}
  <label for="topic" class="col-lg-2 control-label">Topic</label>
 
  {{input value=model.topic}}
  <label for="description" class="col-lg-2 control-label">Description</label>
  
  {{input value=model.description}}
  
  <button id="submit" class="btn btn-primary" {{action 'save'}}>Save</button>
</form>