<form class="form-horizontal">
  <label for="title">Title</label>
    {{input value=model.title id="title" class="form-control" placeholder="title"}}
  
  <label for="url" class="col-lg-2 control-label">URL</label>
    {{input value=model.url id="url" class="form-control" placeholder="URL"}}
  
  <label for="topic" class="col-lg-2 control-label">Topic</label>
    {{input value=model.topic id="topic" class="form-control" placeholder="Topic"}}

  <label for="description" class="col-lg-2 control-label">Description</label>
      
  {{textarea value=model.description id="description" class="form-control" rows="3"}}

  <button {{action 'save'}} id="submit" class="btn btn-primary">Save</button>
</form>